[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
django-crispy-forms = "*"
stripe = "*"
python-dotenv = "*"
sendgrid = "*"
xhtml2pdf = "*"

[dev-packages]

[requires]
python_version = "3.8"
