<nav class="navbar navbar-expand-sm bg-dark">

        <a class="navbar-brand ml-3 mr-5" href="{% url 'home' %}">
            <i class="mdi mdi-storefront text-normal" style="font-size:2em"></i>
        </a>

        <button type="button" class="btn navbar-toggler text-light"
          data-toggle="collapse" 
          data-target="#navbarToggler" 
          aria-controls="navbarToggler">
          
            <i class="mdi mdi-menu text-light" style="font-size:3em"></i>
            
        </button>
        <div id="navbarToggler" class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" class="d-flex align-items-center nav-link text-light text-uppercase font-weight-bold p-3 dropdown-toggle" >Categories</a>
                    <div class="dropdown-menu">
                        {% for category in categories %}
                            <a class="dropdown-item" href="{{category.url}}">
                                {{category.name}}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item"><a class="d-flex align-items-center nav-link text-light text-uppercase font-weight-bold p-3" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="d-flex align-items-center nav-link text-light text-uppercase font-weight-bold p-3" href="{% url 'about' %}">About</a></li>
                
                {% if request.user.is_authenticated and request.user.first_name%}
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" class="d-flex align-items-center nav-link text-light p-3 dropdown-toggle" href="">
                         hello {{request.user.first_name}}
                    
                        <i class="mdi mdi-account ml-1" style="font-size:1.5em" ></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'orders_history' %}">
                            Order History
                        </a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center nav-link text-light p-3" href="{% url 'signout' %}">
                        Logout
                        <i class="mdi mdi-location-exit ml-1" style="font-size:1.5em" ></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="d-flex align-items-center nav-link text-light p-3" href="{% url 'signup' %}">
                        Signup 
                        <i class="mdi mdi-account-plus ml-1" style="font-size:1.5em" ></i>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="d-flex align-items-center nav-link text-light p-3" href="{% url 'signout' %}">
                        Login
                        <i class="mdi mdi-login-variant ml-1" style="font-size:1.5em" ></i>
                    </a>
                </li>
                {% endif %}
                {% if counter %}
                <li class="nav-item ml-5">
                    <a class="d-flex align-items-center nav-link text-light p-3" href="{% url 'cart_detail' %}">
                        <i class="mdi mdi-cart" style="font-size:1.5em" >({{counter}})</i>
                    </a>
                </li>
                {% endif %}
            </ul>


            <form action="{% url 'search' %}" class="form-inline">
                <div class="input-group">
                    <input class="form-control ml-3" type="text" name="query" id="">
                    <div class="input-group-append">
                        <button class="btn btn-info" style="padding:0;width:3em"><i class="mdi mdi-magnify" style="font-size:1.4em;margin:0;padding:0"></i></button>
                    </div>
                </div>
            
            </form>
        </div>
            
</nav>