.cart-table {
  min-width: 400px;
  font-size: 14px;
}
.cart-table .cart-head {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #f8f9fa !important;
}
.stripe-button-el {
  width: 100%;
  display: block;
  margin-bottom: 1vh;
}
.stripe-button-el span {
  height: 4vh !important;
  font-size: 1.2em !important;
}
html {
  font-size: calc(8px + 0.5vw);
}
body {
  background-color: #ededed;
  position: relative;
  min-height: 100vh;
}
main {
  padding-bottom: 15vh;
}
.product-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.product-description {
  text-transform: uppercase;
}
.product-text {
  padding-right: 20px;
}
.nav-item a {
  height: 100%;
}
.errorList a {
  color: #f00;
  font-weight: bold;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
